<section class="blog section" id="blog">
  <div class="container">
    <div class="blog-coffee">
      <h3 class="blog-header3">April 16 2020</h3>
      <h2 class="blog-header2">Blog Post One</h2>
      <p class="blog-paragraph">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="button-stroke" type="button">Read Our Blog</button>
    </div>
    <picture class="blog-picture">
      <source
        srcset="
          ./images/blog-coffee320.jpg    1x,
          ./images/blog-coffee320-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/blog-coffee768.jpg    1x,
          ./images/blog-coffee768-2x.jpg 2x
        "
        media="(max-width: 1359px)"
      />
      <img
        class="blog-photo"
        srcset="./images/blog-coffee.jpg 1x, ./images/blog-coffee-2x.jpg 2x"
        src="./images/blog-coffee.jpg"
        alt="Desktop and coffee"
      />
    </picture>
  </div>
</section>
