<section class="cases section" id="cases">
  <div class="container">
    <h3 class="cases-header3">This is what we do</h3>
    <h2 class="cases-header2">Business Cases</h2>
    <p class="cases-paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-photos">
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="./images/desktop320.jpg 1x, ./images/desktop320-2x.jpg 2x"
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/desktop.jpg 1x, ./images/desktop-2x.jpg 2x"
            src="./images/desktop.jpg"
            alt="Desktop"
          />
        </picture>
      </li>
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="./images/diagrams320.jpg 1x, ./images/diagrams320-2x.jpg 2x"
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/diagrams.jpg 1x, ./images/diagrams-2x.jpg 2x"
            src="./images/diagrams.jpg"
            alt="Diagrams"
          />
        </picture>
      </li>
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="
              ./images/handshake320.jpg    1x,
              ./images/handshake320-2x.jpg 2x
            "
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/handshake.jpg 1x, ./images/handshake-2x.jpg 2x"
            src="./images/handshake.jpg"
            alt="Handshake"
          />
        </picture>
      </li>
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="./images/teamplay320.jpg 1x, ./images/teamplay320-2x.jpg 2x"
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/teamplay.jpg 1x, ./images/teamplay-2x.jpg 2x"
            src="./images/teamplay.jpg"
            alt="Teamplay"
          />
        </picture>
      </li>
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="./images/working320.jpg 1x, ./images/working320-2x.jpg 2x"
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/working.jpg 1x, ./images/working-2x.jpg 2x"
            src="./images/working.jpg"
            alt="Working"
          />
        </picture>
      </li>
      <li class="cases-container">
        <picture class="cases-pic">
          <source
            srcset="
              ./images/skyscrapers320.jpg    1x,
              ./images/skyscrapers320-2x.jpg 2x
            "
            media="(max-width: 1359px)"
          />
          <img
            class="cases-photo-items"
            srcset="./images/skyscrapers.jpg 1x, ./images/skyscrapers-2x.jpg 2x"
            src="./images/skyscrapers.jpg"
            alt="Skyscrapers"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
