<footer>
  <div class="container">
    <ul>
      <li>
        <a href="/facebook">
          <svg class="footer-icon" width="39" height="31">
            <use href="./images/icons.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/facebook">
          <svg class="footer-icon" width="39" height="31">
            <use href="./images/icons.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/facebook">
          <svg class="footer-icon" width="39" height="31">
            <use href="./images/icons.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/facebook">
          <svg class="footer-icon" width="39" height="31">
            <use href="./images/icons.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p>Copyright © 2021 - FinanceLedger</p>
  </div>
</footer>
