<header class="header" id="header">
  <div class="container">
    <div class="logo">
      <svg width="39" height="31" fill="#28A745">
        <use href="./images/icons.svg#header-logo"></use>
      </svg>
      <a class="logo-first" href="index.html">
        Finance&nbsp;<span class="logo-second">Ledger</span></a
      >
    </div>
    <nav class="nav">
      <ul class="header-menu">
        <li>
          <button class="menu-butt" id="go-to-hero">Home</button>
        </li>
        <li>
          <button class="menu-butt" id="go-to-purposes">About</button>
        </li>
        <li>
          <button class="menu-butt" id="go-to-cases">Cases</button>
        </li>
        <li>
          <button class="menu-butt" id="go-to-blog">Blog</button>
        </li>
        <li>
          <button class="menu-butt" id="go-to-feedback">Contact</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
