<section class="purposes section" id="purposes">
  <div class="container">
    <picture class="purposes-pic">
      <source
        srcset="./images/purposes320.jpg 1x, ./images/purposes320-2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/purposes768.jpg 1x, ./images/purposes768-2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1359px)"
      />
      <img
        class="purposes-photo"
        srcset="./images/purposes.jpg 1x, ./images/purposes-2x.jpg 2x"
        src="./images/purposes.jpg"
        alt="Team photo"
      />
    </picture>

    <div class="purposes-paragraph">
      <h3 class="header3-purpose">What you are looking for</h3>
      <h2 class="header2-purpose">We provide bespoke solutions</h2>
      <p class="paragraph-purpose">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="button-stroke" type="button" id="go-to-cases-purpose">
        Read More
      </button>
    </div>
  </div>
</section>
