<section class="cases section">
  <div class="container">
    <h3 class="cases-header3">Who we are</h3>
    <h2 class="cases-header2">Our Professional Team</h2>
    <p class="cases-paragraph">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list">
      <li class="team-item">
        <div class="overlay-box">
          <picture class="blog-picture">
            <source
              srcset="
                ./images/john-doe320.jpg    1x,
                ./images/john-doe320-2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <img
              class="team-photo"
              srcset="./images/john-doe.jpg 1x, ./images/john-doe-2x.jpg 2x"
              src="./images/john-doe.jpg"
              alt="John Doe Photo"
            />
          </picture>
          <div class="overlay"></div>
          <ul class="team-social-list">
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-list-header4">John Doe</h4>
        <p class="cases-item-paragraph">President</p>
      </li>
      <li class="team-item">
        <div class="overlay-box">
          <picture class="blog-picture">
            <source
              srcset="
                ./images/jane-doe320.jpg    1x,
                ./images/jane-doe320-2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <img
              class="team-photo"
              srcset="./images/jane-doe.jpg 1x, ./images/jane-doe-2x.jpg 2x"
              src="./images/jane-doe.jpg"
              alt="Jane Doe Photo"
            />
          </picture>
          <div class="overlay"></div>
          <ul class="team-social-list">
            <li class="team-social-list-item">
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list-item">
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list-item">
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li class="team-social-list-item">
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-list-header4">Jane Doe</h4>
        <p class="cases-item-paragraph">Vice President</p>
      </li>
      <li class="team-item">
        <div class="overlay-box">
          <picture class="blog-picture">
            <source
              srcset="
                ./images/steve-smith320.jpg    1x,
                ./images/steve-smith320-2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <img
              class="team-photo"
              srcset="
                ./images/steve-smith.jpg    1x,
                ./images/steve-smith-2x.jpg 2x
              "
              src="./images/steve-smith.jpg"
              alt="Steve Smith Photo"
            />
          </picture>
          <div class="overlay"></div>
          <ul class="team-social-list">
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#twitter"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#youtube"></use>
                </svg>
              </a>
            </li>
            <li>
              <a class="team-social-link" href="/facebook">
                <svg class="team-icon" width="39" height="31">
                  <use href="./images/icons.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h4 class="team-list-header4">Steve Smith</h4>
        <p class="cases-item-paragraph">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
