header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 0 22px;
}

.header {
  position: fixed;
  width: 100%;
  transition: background-color 250ms ease-in-out;
  z-index: 100;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.header-menu {
  display: flex;
  gap: 12px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
  }

  .logo-first {
    font-size: 35px;
  }

  .header {
    display: block;
  }

  .header-menu {
    gap: 20px;
  }

  .menu-butt {
    height: 29px;
    font-size: 18px;
  }
}

@media (min-width: 1360px) {
  .header .container {
    padding: 0 28px;
  }

  .header-menu {
    gap: 40px;
  }
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.menu-butt {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 26px;
  font-size: 16px;
  padding: 0;
}

.menu-butt-active {
  color: #28a745;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.logo-first {
  font-family: 'open sans', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  color: #28a745;
}

.logo-second {
  color: #ffffff;
}

.header-menu a {
  display: flex;
  height: 29px;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
